<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--CSS sheet-->
    <link rel="stylesheet" href="/css/style.css">

    <title>Technically a Blog</title>
</head>

<body>
    <div class="container-fluid con-div">
        <div class="row">
            <div class="col-8">

                <div class="jumbotron">
                    <h1 class="display-4">Technically a Blog</h1>
                    <p class="lead"></p>
                    <hr class="my-4">
                    <p></p>

                </div>

            </div>

        </div>
        <div class="nav-bar">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="/">Home</a>
                {{#unless session.loggedIn}}
                <a class="navbar-brand" href="/login">Login</a>
                {{/unless}}
                <a class="navbar-brand" href="/dashboard">Dashboard</a>
                {{#if session.loggedIn}}
                <a class="navbar-brand" href="/logout">Log Out</a>
                {{/if}}
            </nav>


        </div>

    </div>

    <main> {{{ body }}}</main>


</body>

</html>