<div href="/blog" class="blog">
    <form method="post" class="commentForm">
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="formText">Post</label>
            <textarea class="form-control" name="commentContent" id="comment" rows="3"
                placeholder="Enter your post here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" placeholder="Enter post here">Submit</button>


    </form>
</div>

<script src="/js/blog.js"></script>