<div href="/dashboard" class="blog">
    <form class="blogForm">
        <div class="form-group">
            <label for="exampleFormControlInput1" class="formText">Title</label>
            <input type="email" class="form-control" id="title" placeholder="Enter the title of your post here">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="formText">Post</label>
            <textarea class="form-control" id="blog" rows="3" placeholder="Enter your post here"></textarea>
        </div>
        <a type="submit" class="btn btn-primary" placeholder="Enter post here">Submit</a>
    </form>
</div>