<div class="d-flex justify-content-center">
    <div class=" col-4 ">

        <div href="/dashboard" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter the title of your post here"
                aria-label="Recipient's username" aria-describedby="basic-addon2">

            <div class="input-group-append">

            </div>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">

            </div>
            <textarea class="form-control" aria-label="With textarea" placeholder="Enter post here"></textarea>

        </div>

    </div>
    <a href="/dashboard" class="btn btn-primary">Submit</a>
</div>