{{! blogs will go here on home page }}

{{#each blogData as |blogs|}}
<div class="container">
    <div class="card border-primary mb-3 " style="max-width: 66rem;">
        <div class="card-header">{{blogs.title}}</div>
        <div class="card-body text-primary">
            <p class="card-text">{{blogs.blogContent}}</p>
        </div>
    </div>
    {{/each}}