<div href="/logout" class="d-flex justify-content-center">
    <div class="logout ">
        <div class="question">

            <small id="emailHelp" class="formText">Are you sure you want to log out?</small>
        </div>

        <a href="/" class="btn btn-primary ">Yes, log me out</a>

    </div>
</div>