<div href="/logout" class="d-flex justify-content-center">
    <div class="logout ">
        <div class="question">

            <small id="emailHelp" class="formText">Are you sure you want to log out?</small>
        </div>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-primary ">Yes, log me out</button>
        </form>
    </div>
</div>