body {

    background-image: url("/background.jpg");
    
  }
  .con-div {

    background-color: white;
  }

  .jumbotron {
    
    background-color: white;
    margin-bottom: 0;

  }

  .nav-bar {

    background-color: white !important;

  }

  .navbar {

    justify-content: left;
    margin-bottom: 50px;

  }

  .navbar-brand {
   
    background-color: white;
  }

.posts{

   margin-top: 20px;
   
}

  .formBox {

    color: white;
    padding: 20px;
    

  }

  .signUp {

    margin-bottom: 5px;

  }

  .formText {

    color: white; 

   
  }

  .question {
    margin-bottom: 10px;
  }

  .logout {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .blog{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 20%;
   margin-right: 20%;
 }

 .blogDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

#oneButton{
  margin: 20px;
 
}
