body {

    background-image: url("/background.jpg");
    
  }
  .con-div {

    background-color: white;
  }

  .jumbotron {
    
    background-color: white;
    margin-bottom: 0;

  }

  .nav-bar {

    background-color: white !important;

  }

  .navbar {

    justify-content: left;
    margin-bottom: 20px;

  }

  .navbar-brand {
   
    background-color: white;
  }

  .formDiv {

    justify-content: center;
    align-items: center;
    
  }

  .formBox {

    background: black;
    color: white;
    padding: 20px;
    
   

  }

 